.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    ion-back-button{
        color: white;
    }
}

.mainposter{
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: cover;
    background-position: center;
    border-bottom: 1px solid black;

    ion-col{
        text-align: center;
        top: 300px;
        font-size: 40px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    .degrade{
        position: absolute;
        left: 0;
        width: 100%;
        height: 400px;
        background-image: url('/assets/images/degrade.png');
        background-size: cover;

        &.top{
        background-image: url('/assets/images/degrade-top.png');
          top: 0;
          transform: rotate(180deg); 
        }

        &.bottom{
            bottom: 0;
        }
    }
}

.content{
    padding: 10px;
    span{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
}